<div class="conatiner" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar una novedad</h4>
            <form action="/admin/novedades/modificar" method="post">
            <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{novedad.titulo}}" name="titulo">
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control" name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-danger">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>